{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

    @package   block_academic_dashboard_esse3
    @copyright 2026 Università degli Studi di Ferrara - Unife
    @author    Andrea Bertelli <andrea.bertelli@unife.it>
    @license   http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
}}
{{!
    @template block_academic_dashboard_esse3/syllabus_section

    Renders one syllabus section with icon, label and content.

    Context variables required for this template:
        * icon - FontAwesome icon class (e.g. fa-bullseye)
        * label - section heading text
        * content - HTML content for the section body
        * divider - boolean, if true render an hr before this section

    Example context (json):
    {
        "icon": "fa-bullseye",
        "label": "Objectives",
        "content": "<p>Learning objectives</p>",
        "divider": false
    }
}}
{{#divider}}
<hr class="my-4">
{{/divider}}
<div class="syllabus-section shadow-sm">
    <h6 class="font-weight-bold text-dark">
        <i class="fa-solid {{icon}}"></i>{{label}}
    </h6>
    <div class="syllabus-text">{{{content}}}</div>
</div>
